.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem auto;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem auto;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem auto;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem auto;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem auto;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem auto;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem auto;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem auto;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem auto;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem auto;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.center {
  text-align: center;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: #75E6DA;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.bg-primary {
  background-color: #75E6DA;
  color: #fff;
}
.bg-secondary {
  background-color: #189AB4;
  color: #fff;
}
.bg-light {
  background-color: #D4F1F4;
  color: #333;
}
.bg-dark {
  background-color: #05445E;
  color: #fff;
}
.bg-success {
  background-color: #44EE77;
  color: #fff;
}
.bg-danger {
  background-color: #FB475E;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333;
  border: #D4F1F4 1px solid;
}

.btn {
  display: inline-block;
  background: #D4F1F4;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
}
.btn.btn-primary {
  background-color: #75E6DA;
  color: #fff;
  border: none;
}
.btn.btn-primary:hover {
  background: #8beae0;
  border: none;
}
.btn.btn-dark {
  background-color: #05445E;
  color: #fff;
}
.btn.btn-dark:hover {
  background: #065676;
}
.btn.btn-dark {
  background-color: #05445E;
  color: #fff;
}
.btn.btn-dark:hover {
  background: #065676;
}
.btn.btn-dark {
  background-color: #05445E;
  color: #fff;
}
.btn.btn-dark:hover {
  background: #065676;
}
.btn.btn-success {
  background-color: #44EE77;
  color: #fff;
}
.btn.btn-success:hover {
  background: #5bf088;
}
.btn.btn-danger {
  background-color: #FB475E;
  color: #fff;
}
.btn.btn-danger:hover {
  background: #fc6074;
}
.btn:hover {
  background: #0a8abf;
  color: #fff;
}

.c-alert {
  padding: 0.5rem;
  margin: 1rem auto;
  opacity: 0.9;
  background: #D4F1F4;
  color: #333;
}
.c-alert.c-alert-primary {
  background-color: #75E6DA;
  color: #fff;
}
.c-alert.c-alert-dark {
  background-color: #05445E;
  color: #fff;
}
.c-alert.c-alert-success {
  background-color: #44EE77;
  color: #fff;
}
.c-alert.c-alert-danger {
  background-color: #FB475E;
  color: #fff;
}

.table {
  margin: auto;
}
.table .row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  background: #D4F1F4;
  padding: 1rem;
  text-align: center;
}

.form-group {
  margin: 1.2rem auto;
  width: 60%;
}
.form-text {
  display: block;
  margin: 0.3rem auto;
  color: #888;
}
.form input[type=text],
.form input[type=email],
.form input[type=password],
.form input[type=date],
.form input[type=number],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.form input[type=submit] {
  font: inherit;
}
.form input[type=checkbox] {
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2);
  padding: 10px;
}

.cb-item {
  padding: 5px;
  background-color: #D4F1F4;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: #75E6DA;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}

/*
  Footer
*/
footer .container {
  margin-bottom: 0;
}

/*
 * Navigation bar
 */
.topnav {
  background-color: #05445E;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1rem;
}

.topnav a:hover {
  transition: 0.3s;
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
  color: white;
}

.follow {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.follow-links {
  text-align: center;
  background: #D4F1F4;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  width: max-content;
  height: max-content;
  padding: 3rem;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter-square {
  color: #00aced;
}

.fa-youtube-square {
  color: #bb0000;
}

.fa-instagram-square {
  color: #517fa4;
}

/*
 * Page
 */
.title {
  margin-top: 1rem;
}

.client {
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.client img {
  width: 50%;
}
.client .row {
  align-items: center;
}

.profile {
  max-width: 66%;
}

.profile-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile-top img {
  width: 50%;
}

.profile-about {
  text-align: center;
}
.profile-about .row {
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.search-text {
  border-radius: 5px;
}

.search-icon {
  float: right;
  margin-right: 12px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

.area-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  padding: 3rem;
}

.weight-chart {
  width: 100%;
}

/*
 * Post
 */
.post {
  background: #D4F1F4;
  border-radius: 10px;
  text-align: left;
  padding: 2rem;
  margin: 2rem;
}

.author {
  font-size: large;
  margin: 2rem 0;
  padding: 5px 15px;
  border-radius: 10px;
  width: 100%;
  float: left;
}

.article-buttons {
  text-align: right;
}

.item-title {
  text-align: left;
  font-size: 2rem;
}

.post-date {
  text-align: left;
  font-size: 10pt;
}

.author-image {
  margin: 15px;
  border-radius: 50%;
  width: 20%;
  float: left;
}

.author-name {
  padding: 1rem;
}

.author-bio {
  font-style: italic;
  color: black;
}

.item-text, .item {
  text-align: justify;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #444444;
  font-size: 12pt;
}

.label {
  font-weight: bold;
  font-size: 20px;
}

.create-comment {
  width: 80%;
  text-align: center;
}

.comment {
  padding: 1rem;
  background-color: #D4F1F4;
  border-radius: 10px;
  text-align: left;
  width: 80%;
  margin: 0.25rem auto;
}
.comment .container {
  margin: 0;
}
.comment .row {
  align-items: center;
}

.comment-image {
  margin: 15px;
  border-radius: 50%;
  width: 50%;
}

.comment-text {
  text-align: justify;
}

.comment-text, .comment-date {
  margin: 1rem;
}

.fa-ach-user:before {
  background: url("/icons/user.png");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
}

.fa-ach-checklist:before {
  background: url("/icons/checklist.png");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
}

.fa-ach-comment:before {
  background: url("/icons/comment.png");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
}

@media (max-width: 768px) {
  .hide-sm {
    display: none;
  }

  .search-icon {
    display: none;
  }

  .area-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav .icon {
    margin: 0 0 0 auto;
    display: block;
  }

  .topnav.responsive {
    position: relative;
    display: block;
    align-items: stretch;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    margin: 5px;
  }

  .article-buttons .btn {
    margin-top: 5px;
  }

  .comment {
    width: 100%;
  }

  .client {
    text-align: center;
  }
  .client ul {
    display: none;
  }

  .form-group {
    width: 100%;
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
