$primary-color: #75E6DA;
$secondary-color: #189AB4;
$light-color: #D4F1F4;
$dark-color: #05445E;
$success-color: #44EE77;
$danger-color: #FB475E;
$max-width: 1100px;

// Set text color based on background
@function set-text-color($color) {
  @if(lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background and text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Margin and padding
$spaceAmounts: (1, 2, 3, 4, 5);
@each $space in $spaceAmounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem auto;
  }
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem auto;
  }
}
