.form {

  &-group {
    margin: 1.2rem auto;
    width: 60%;
  }

  &-text {
    display: block;
    margin: 0.3rem auto;
    color: #888;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  input[type='number'],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
  }

  input[type='submit'] {
    font: inherit;
  }

  input[type='checkbox'] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
  }
}

.cb-item {
  padding: 5px;
  background-color: $light-color;
  border-radius: 10px;
}
