@media (max-width: 768px) {

  .hide-sm {
    display: none;
  }

  // Text styles

  .search-icon {
    display: none;
  }

  .area-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  // Navbar

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav .icon {
    margin: 0 0 0 auto;
    display: block;
  }

  .topnav.responsive {
    position: relative;
    display: block;
    align-items: stretch;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  // Post

  .post {
    margin: 5px;
  }

  .article-buttons .btn {
    margin-top: 5px;
  }

  .comment {
    width: 100%;
  }

  // Profiles
  .client {
    text-align: center;

    ul {
      display: none;
    }
  }

  // Form
  .form-group {
    width: 100%;
    font-size: 0.9rem;
  }

}
