// containers
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.center {
  text-align: center;
}

// texts
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: $primary-color;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

// backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-secondary {
    @include set-background($secondary-color);
  }
  &-light {
    @include set-background($light-color);
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: $light-color 1px solid;
  }
}

// buttons
.btn {
  display: inline-block;
  background: $light_color;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;

  &.btn-primary {
    @include set-background($primary-color);
    border: none;
    &:hover {
      background: lighten($primary-color, 5%);
      border: none;
    }
  }

  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background: lighten($dark-color, 5%);
    }
  }

  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background: lighten($dark-color, 5%);
    }
  }

  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background: lighten($dark-color, 5%);
    }
  }

  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background: lighten($success-color, 5%);
    }
  }

  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background: lighten($danger-color, 5%);
    }
  }

  &:hover {
    background: lighten($dark-color, 20%);
    color: #fff;
  }
}

// alerts
.c-alert {
  padding: 0.5rem;
  margin: 1rem auto;
  opacity: 0.9;
  background: $light-color;
  color: #333;

  &.c-alert-primary {
    @include set-background($primary-color);
  }
  &.c-alert-dark {
    @include set-background($dark-color);
  }
  &.c-alert-success {
    @include set-background($success-color);
  }
  &.c-alert-danger {
    @include set-background($danger-color);
  }
}

.table {
  margin: auto;

  .row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    background: $light-color;
    padding: 1rem;
    text-align: center;
  }

}
