@import 'config';
@import 'utilities';
@import 'form';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%
}

/*
  Footer
*/

footer {
  .container {
    margin-bottom: 0;
  }
}

/*
 * Navigation bar
 */

 .topnav {
   background-color: $dark-color;
   overflow: hidden;
   display: flex;
   align-items: center;
 }

 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 1rem;
   text-decoration: none;
   font-size: 1rem;
 }

 .topnav a:hover {
   transition: 0.3s;
   background-color: #ddd;
   color: black;
 }

 .topnav .icon {
   display: none;
   color: white;
 }

 .follow {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.follow-links {
  text-align: center;
  background: $light-color;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  width: max-content;
  height: max-content;
  padding: 3rem;
}

.fa-facebook-square { color: #3b5998; }
.fa-twitter-square { color: #00aced; }
.fa-youtube-square { color: #bb0000; }
.fa-instagram-square { color: #517fa4; }

 /*
  * Page
  */

.title {
  margin-top: 1rem;
}

.client {
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;

  img {
    width: 50%;
  }

  .row {
    align-items: center;
  }
}

.profile {
  max-width: 66%;
}

.profile-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    width: 50%;
  }
}

.profile-about {
  text-align: center;

  .row {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
}

.search-text {
  border-radius: 5px;
}

.search-icon {
  float: right;
  margin-right: 12px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

.area-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  padding: 3rem;
}

.weight-chart {
  width: 100%;
}

/*
 * Post
 */

.post {
  background: $light-color;
  border-radius: 10px;
  text-align: left;
  padding: 2rem;
  margin: 2rem;
}

.author {
  font-size: large;
  margin: 2rem 0;
  padding: 5px 15px;
  border-radius: 10px;
  width: 100%;
  float: left;
}

.article-buttons {
  text-align: right;
}

.item-title {
  text-align: left;
  font-size: 2rem;
}

.post-date {
  text-align: left;
  font-size: 10pt;
}

.author-image {
  margin: 15px;
  border-radius: 50%;
  width: 20%;
  float: left;
}

.author-name {
  padding: 1rem;
}

.author-bio {
  font-style: italic;
  color: black;
}

.item-text, .item {
  text-align: justify;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #444444;
  font-size: 12pt;
}

.label {
  font-weight: bold;
  font-size: 20px;
}

.create-comment {
  width: 80%;
  text-align: center;
}

.comment {
  padding: 1rem;
  background-color: $light-color;
  border-radius: 10px;
  text-align: left;
  width: 80%;
  margin: .25rem auto;

  .container {
    margin: 0;
  }

  .row {
    align-items: center;
  }
}

.comment-image {
  margin: 15px;
  border-radius: 50%;
  width: 50%;
}

.comment-text {
  text-align: justify;
}

.comment-text, .comment-date {
  margin: 1rem;
}

@mixin ach($ach-filename) {
  .fa-ach-#{$ach-filename}:before {
    background: url('/icons/#{$ach-filename}.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
  }
}

@include ach('user');
@include ach('checklist');
@include ach('comment');

@import 'mobile';
